html {
  background: linear-gradient(90deg, silver, whitesmoke, silver);
}
html body {
  background: linear-gradient(90deg, darkgreen, lightgreen, darkgreen);
}
html body .animals {
  padding: 10px;
  text-align: center;
}
html body .animals table {
  width: 130vh;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
html body .animals table tr th,
html body .animals table tr td {
  padding: 5px;
}
html body .animals table tr:first-child {
  background-color: darkgreen;
  color: whitesmoke;
}
html body .animals table tr:not(:first-child) {
  background-color: lightgreen;
}
html body .animals table tr:not(:first-child):hover {
  background-color: green !important;
  color: whitesmoke;
}
html body .animals table tr:not(:first-child):nth-child(2n+1) {
  background-color: #4ee44e;
}
html body .form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}
html body .form input[type=text] {
  width: 25vh;
  height: 3vh;
}
html body .form input[type=submit] {
  width: 20vh;
  height: 4vh;
}
