.centerBox {
  margin-left: auto;
  margin-right: auto;
}
html {
  background: linear-gradient(90deg, silver, whitesmoke, silver);
}
html body {
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, darkgreen, lightgreen, darkgreen);
  box-shadow: 5px 5px 10px #003100;
  margin-top: 2.5vh;
  width: 90%;
}
html body .databaseConnectionInfo {
  color: #72bcd4;
  text-align: center;
  padding: 10px;
}
html body .databaseConnectionInfo .databaseConnectionLabel {
  background-color: darkgreen;
  font-weight: bold;
  margin-bottom: 0px;
}
html body .databaseConnectionInfo .databaseConnectionMessage {
  background-color: darkgreen;
  color: #ff3814;
  margin-top: 0px;
}
html body .animals {
  padding: 10px;
  text-align: center;
}
html body .animals table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-collapse: collapse;
}
html body .animals table thead tr th,
html body .animals table tbody tr th,
html body .animals table thead tr td,
html body .animals table tbody tr td {
  padding: 5px;
}
html body .animals table thead tr th {
  text-align: center;
}
html body .animals table thead tr:first-child {
  background-color: darkgreen;
  color: whitesmoke;
}
html body .animals table tbody tr {
  background-color: lightgreen;
}
html body .animals table tbody tr:hover {
  background-color: green !important;
  color: whitesmoke;
}
html body .animals table tbody tr:nth-child(2n+1) {
  background-color: #4ee44e;
}
html body .animals table tbody tr td .deleteButton {
  background-color: #cc0000;
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  border: none;
}
html body .animals table tbody tr td .deleteButton:hover {
  background-color: #800000;
}
html body .animals table tbody tr td .deleteButton:active {
  background-color: whitesmoke;
  color: #800000;
}
html body .animals table tbody tr td .updateButton {
  background-color: #0000cc;
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  border: none;
}
html body .animals table tbody tr td .updateButton:hover {
  background-color: #000080;
}
html body .animals table tbody tr td .updateButton:active {
  background-color: whitesmoke;
  color: #000080;
}
html body .form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}
html body .form input[type=text] {
  width: 15vw !important;
  height: 3vw !important;
}
html body .form button.addButton {
  background-color: #00b300;
  color: whitesmoke;
  border: none;
  width: 15vw;
  height: 3vw;
}
html body .form button.addButton:hover {
  background-color: #006700;
}
html body .form button.addButton:active {
  background-color: whitesmoke;
  color: #006700;
}
html body .form button.updateButton {
  background-color: #3333ff;
  color: whitesmoke;
  border: none;
  width: 7.5vw;
  height: 3vw;
  font-size: smaller;
}
html body .form button.updateButton:hover {
  background-color: #0000e6;
}
html body .form button.updateButton:active {
  background-color: whitesmoke;
  color: #0000e6;
}
html body .form button.updateButton:disabled {
  background-color: silver;
  color: gray;
  cursor: not-allowed;
}
html body .form button.cancelButton {
  background-color: #ff3333;
  color: whitesmoke;
  border: none;
  width: 7.5vw;
  height: 3vw;
  font-size: smaller;
}
html body .form button.cancelButton:hover {
  background-color: #e60000;
}
html body .form button.cancelButton:active {
  background-color: whitesmoke;
  color: #e60000;
}
html body .form button.cancelButton:disabled {
  background-color: silver;
  color: gray;
  cursor: not-allowed;
}
html body .update {
  background: linear-gradient(90deg, #003100, #64e764, #003100);
}
