.centerBox {
  margin-left: auto;
  margin-right: auto;
}
* {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
  font-family: 'Averia Serif Libre', cursive;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-left: 40px;
}
html {
  box-sizing: border-box;
  height: 100%;
}
html body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
html body .navbar {
  margin: 0 auto;
  overflow: hidden;
  background-color: #3E606F;
  border-radius: 0px 0px 6px 6px;
}
html body .navbar ul {
  list-style-type: none;
  float: right;
}
html body .navbar ul li {
  float: left;
  font-family: 'Noto Serif', serif;
}
html body .navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 28px;
  text-decoration: none;
}
html body .navbar ul li a:hover {
  color: #B9E6F2;
  background-color: #334F5C;
}
html body .navbar .logo_div {
  float: left;
  padding-top: 5px;
  padding-left: 40px;
}
html body .navbar .logo_div h1 {
  color: #B9E6F2;
  font-size: 3em;
  letter-spacing: 5px;
  font-weight: 100;
  font-family: 'Tangerine', cursive;
}
html body .banner {
  margin: 5px auto;
  min-height: 400px;
  color: white;
  border-radius: 5px;
  background-image: url("../images/banner.jpg");
  background-size: 100% auto;
  background-position: center;
}
html body .banner .welcome_msg {
  width: 45%;
  float: left;
  padding: 20px;
}
html body .banner .welcome_msg h1 {
  color: #B9E6F2;
  margin: 25px 0px;
  font-size: 2.4em;
  font-family: 'Averia Serif Libre', cursive;
}
html body .banner .welcome_msg p {
  color: white;
  font-size: 1.5em;
  line-height: 1.8em;
  font-family: 'Noto Serif', serif;
}
html body .banner .welcome_msg p span {
  font-size: .81em;
  color: #3E606F;
}
html body .banner .welcome_msg a {
  width: 30%;
  margin: 20px 0px;
  padding: 12px 15px;
  font-size: 1.2em;
  text-decoration: none;
}
html body .banner .welcome_msg a:hover {
  background: #374447;
}
html body .banner .login_div {
  width: 50%;
  float: left;
}
html body .banner .login_div form {
  margin-top: 40px;
}
html body .banner .login_div form h2 {
  color: white;
  margin-bottom: 20px;
  font-family: 'Noto Serif', serif;
}
html body .banner .login_div form input {
  width: 60%;
  color: white;
  border: 1px solid white;
  margin: 10px auto;
  letter-spacing: 1.3px;
  font-family: 'Noto Serif', serif;
}
html body .banner .login_div form button {
  display: block;
  background: #006384;
  margin-left: 20%;
}
html body .users table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  border-collapse: collapse;
}
html body .users table thead tr th,
html body .users table tbody tr th,
html body .users table thead tr td,
html body .users table tbody tr td {
  padding: 5px;
}
html body .users table thead tr th {
  text-align: center;
}
html body .users table thead tr:first-child {
  background-color: darkgreen;
  color: whitesmoke;
}
html body .users table tbody tr {
  background-color: lightgreen;
}
html body .users table tbody tr:hover {
  background-color: green !important;
  color: whitesmoke;
}
html body .users table tbody tr:nth-child(2n+1) {
  background-color: #4ee44e;
}
html body .users table tbody tr td [class$="Button"] {
  width: 30px;
  height: 30px;
}
html body .users table tbody tr td .deleteButton {
  background-color: #cc0000;
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  border: none;
}
html body .users table tbody tr td .deleteButton:hover {
  background-color: #800000;
}
html body .users table tbody tr td .deleteButton:active {
  background-color: whitesmoke;
  color: #800000;
}
html body .users table tbody tr td .updateButton {
  background-color: #0000cc;
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  border: none;
}
html body .users table tbody tr td .updateButton:hover {
  background-color: #000080;
}
html body .users table tbody tr td .updateButton:active {
  background-color: whitesmoke;
  color: #000080;
}
html body form h2 {
  margin: 25px auto;
  text-align: center;
  font-family: 'Averia Serif Libre', cursive;
}
html body form input,
html body form select {
  width: 100%;
  display: block;
  padding: 13px 13px;
  font-size: 1em;
  margin: 5px auto 10px;
  border-radius: 3px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #3E606F;
}
html body form input:focus {
  outline: none;
}
html body .form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}
html body .form input,
html body .form select {
  background: whitesmoke;
}
html body .form button.addButton {
  background-color: #00b300;
  color: whitesmoke;
  border: none;
  width: 15vw;
  height: 3vw;
}
html body .form button.addButton:hover {
  background-color: #006700;
}
html body .form button.addButton:active {
  background-color: whitesmoke;
  color: #006700;
}
html body .form button.updateButton {
  background-color: #3333ff;
  color: whitesmoke;
  border: none;
  width: 7.5vw;
  height: 3vw;
  font-size: smaller;
}
html body .form button.updateButton:hover {
  background-color: #0000e6;
}
html body .form button.updateButton:active {
  background-color: whitesmoke;
  color: #0000e6;
}
html body .form button.updateButton:disabled {
  background-color: silver;
  color: gray;
  cursor: not-allowed;
}
html body .form button.cancelButton {
  background-color: #ff3333;
  color: whitesmoke;
  border: none;
  width: 7.5vw;
  height: 3vw;
  font-size: smaller;
}
html body .form button.cancelButton:hover {
  background-color: #e60000;
}
html body .form button.cancelButton:active {
  background-color: whitesmoke;
  color: #e60000;
}
html body .form button.cancelButton:disabled {
  background-color: silver;
  color: gray;
  cursor: not-allowed;
}
html body .update {
  background: linear-gradient(90deg, silver, white, silver);
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
}
.btn {
  color: white;
  background: #4E6166;
  text-align: center;
  border: none;
  border-radius: 5px;
  display: block;
  letter-spacing: .1em;
  margin: 10px 0px;
  padding: 13px 20px;
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0px auto;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #73707D;
  text-align: center;
  width: 80%;
  margin: 20px auto 0px;
  padding: 20px 0px;
}
